/* =================================================================
 * Main CSS file from I Heart Cuttlefish Project
 * by Aaron Gustafson, Easy Designs. Edited by Robin Spencer.
 * See the original here: http://aarongustafson.github.io/i-heart-cuttlefish/
 * ================================================================= */

/* Charset Controls */
@charset "UTF-8";

/* Media Query controls */
@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
@-o-viewport {
  width: device-width;
  zoom: 1.0;
}
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}

https://fonts.googleapis.com/css?family=Barlow+Condensed:300,300i,400,400i,500,500i,600,600i|Ultra, sans-serif;


/* CSS Reset for HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}


body {
    background: url(../images/bgd2.jpg) no-repeat fixed center top #742103;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    font: 105%/1.4 "Barlow Condensed", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

/* =================================================================
 * Defaults
 * ================================================================= */
h1, h2{
    font-family: Ultra, sans-serif;
    line-height: 1; /* 1.4 * the font size */
    margin: 0;
}
h1 {
    font-size: 3em; /* 16 * 3 = 48 */
    margin-bottom: .15em; /* 16 * .15 = 2.4 */
}
section h1 {
    font-size: 2em; /* 16 * 2 = 32 */
}
h3 {
    font-family: Ultra;
    font-size: .87em;
    letter-spacing: .03em;
    margin-bottom: .15em;
    color: #6b5f55;
}
p, ol, ul {
    margin: 0;
    margin-bottom: .6em; /* 16 * 1.2 = 20 */
    color: #58493c;
}
.figcaptionP {
    margin-bottom: .5em;
}
.lps {
    font-weight: 600;
    margin-bottom: 6px;
}
.tracks {
    margin-bottom: 3px;
    font-weight: 600;
    line-height: 1;
}
.discoghead {
    font-family: Ultra;
    font-size: 1em;
    letter-spacing: .06em;
    margin-bottom: .8em;
    color: #6b5f55;
    border-top: 1px solid #b1a193;
    padding-top: 12px;
}
a {
    font-weight: 600;
    color: #58493c;
    text-decoration: none;
}
    a:hover,
    a:focus,
    a:active {
    color: #ff6e01;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
        -ms-transition: color 1s;
            transition: color 1s;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tracklist {
    margin-left: -24px;
}
.ultracklist {
    margin-left: 0;
    margin-bottom: 8px;
}
.runoffs {
    margin-left: 0px;
}

cite {
    font-style: normal;
}
.topElementli {
    float: left;
    position: relative;
    margin: 0px 0px 0px 68px;
    padding: 10px 0px 8px 13px;
    /* font-family: "Barlow Condensed"; */
    font-weight: 600;
    color: #b7733f;
    background: #401303;
    letter-spacing: 2px;
    width: 249px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}


/* =================================================================
 * Helpers
 * ================================================================= */
.hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6 and IE7 use the wrong syntax */
    clip: rect(1px, 1px, 1px, 1px);
}


/* =================================================================
 * Layout
 * ================================================================= */
hr {
    display: none;
}
header,
main,
nav,
footer {
    margin: 0px;
}
header,
main,
nav {
    margin-bottom: 1em;
}
main {
    padding: 65px 3em 1px 38px;
    margin: 0px 9em 0px 330px;
    max-width: 650px;
    min-width: 250px;
    background: url(../images/lineBgd.png) top left repeat;
}
section {
    padding: 65px 3em 1px 38px;
    margin: 0px 9em 0px 330px;
    max-width: 650px;
    min-width: 250px;
    background: url(../images/lineBgd.png) top left repeat;
}

.parDiv {
    min-height: 100%;
    width: 100%;
    max-width:  700px;
    margin-bottom: 1.4em;
}
		
.factsDiv {
    border-top: 1px solid #b1a193;
    display: block;
    text-align: center;
    max-width:  700px;
    padding-top: 10px;
}
.bottomDiv {
    max-width: 700px;
}
.topElement {
    position: fixed;
    margin: 0px 0px 0px 0px;
    width: 100%;
    background: #290d03;
    height: 32px;
}


/* =================================================================
 * Banner
 * ================================================================= */
.banner {
    color: #fff;
    margin: 32px 0 2em;
    padding: 3% 2em;
    position: fixed;
    width: 270px;
    float: left;
    position: fixed;
    outline: none;
}
    .banner h1 {
        font-size: 3em;
        line-height: 1;
        margin: 0;
    }
    .banner a {
        border-bottom: 0;
        color: #fff;
        text-decoration: none;
	width: 200px;
    	height: 90px;
    }
    .bannerLogo {
	margin: 22px 0px 0px 29px;
        width: 200px;
}
	    
.banner--home {
    text-align: center;
    padding: 7% 0 5%;
}
    .banner--home h1 {
        font-size: 8vw; /* if supported, scale with the screen */
        padding-top: 2%;
    }
    .banner--home img {
        display: inline;
        width: 50%;
        max-width: 400px;
        height: auto;
    }


/* =================================================================
 * Navigation
 * ================================================================= */
#nav-jump {
    border: 3px solid #290d03;
    border-radius: 14px;
    background: #401203;
    color: #cc7f33;
    font-family: "Barlow Condensed", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: .5em;
    text-transform: uppercase;
    position: absolute;
    top: .75em;
    right: 1em;
    z-index: 1000;
    width: auto;
    height: auto;
}
nav {
    outline: none;
}
nav ul {
    background: #fff;
    background-color: rgba(255, 255, 255, .95);
    color: #000;
    border-top: 1px solid;
    list-style: none;
    margin: 86px 0px 0px 49px;
    padding: 0;
    position: fixed;
}
nav a {
    border-bottom: 1px solid #000;
    color: #000;
    display: block;
    	font: "Barlow Condensed", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1em;
    line-height: 2;
    padding: 0 1em;
    outline: none;
    -webkit-transition: background .4s, color 0s .1s;
       -moz-transition: background .4s, color 0s .1s;
        -ms-transition: background .4s, color 0s .1s;
            transition: background .4s, color 0s .1s;
}
nav mark a {
    background: #000;
    color: #fff;
}
nav ul a:hover,
nav ul a:focus,
nav mark a:hover,
nav mark a:focus {
    background: #ccc;
    color: #000;
    -webkit-transition: background .4s;
       -moz-transition: background .4s;
        -ms-transition: background .4s;
            transition: background .4s;
}

 
/* =================================================================
 * Footer
 * ================================================================= */
footer {
    border-top: 1px solid #b1a193;
    padding-top: 1em;
    font-size: 0.7em; /* 16 * .875 = 14 */
    /* max-width: inherit; */
    }

 
/* =================================================================
 * Media
 * ================================================================= */

/* =Responsive Images */
picture,
img {
    display: block;
    width: 100%;
    /* max-width: 100%; */
    /* height: auto; */
}

/* =Responsive Videos
 * See http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video {
	position: relative;
	padding-bottom: 56.25%; // 16:9
	padding-top: 30px; /* IE6 workaround*/
    width: 100%;
	height: 0;
}
.video--4x3 {
    padding-bottom: 75%; /* 5x3 ratio */
}
.video video,
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* =Figures */
figure {
    margin: 0 0 1.25em; /* 16 * 1.2 = 20 */
}
/* .figure {
    position: relative; /* contain the source */

    .figure__caption {
        font-size: 0.85em; /* 16 * .875 = 14 */
        margin: 1em 0 0;
	padding-right: 15px;
    }
        .figure__caption em,
        .figure__caption i {
            font-style: normal;
        }
    .figure__source {
        background: black;
        background: rgba( 0, 0, 0, .8 ); /* 80% black */
        color: white;

        font-size: 0.7857em; /* 14 * .7857 = 11 */

        padding: .5em .75em;

        /* position over the image */
        position: absolute;
        top: 0;
        right: 0;
    }
        .figure__source a {
            color: white;
            color: inherit;
            text-decoration: none;
        }
    
.figure--inline {
    display: block;
    margin: 1em auto;
    max-width: 310px;
}
    .figure--inline img,
    .figure--inline picture,
    .figure--inline .video {
        margin-bottom: 1em;
    }
    .figure--inline::before,
    .figure--inline::after {
        content: " ";
        display: block;
        height: 0;
        margin: 1em auto 0;
        width: 50%;
        border-top: 1px solid #ccc;
    }
    .figure--inline::before {
        margin: 0 auto 1em;
    }
    .figure--inline .figure__source {
        margin-top: 1.4545em; /* make room for the space 11 * 1.4545 = 16 */
        top: 1px; /* the border */
    }
    h1 + .figure--inline::before {
        display: none;
    }
    h1 + .figure--inline .figure__source {
        margin-top: 0; /* remove the space */
        top: 0; /* and the border compensation */
    }


/* =================================================================
 * Galleries
 * ================================================================= */
.gallery {}
    .gallery__item::after {
        content: " ";
        display: block;
        height: 0;
        margin: 1em auto 0;
        width: 50%;
        border-top: 1px solid #ccc;
    }
    .gallery__item:last-child::after {
        display: none;
    }


/* for getActiveMQ */
#getActiveMQ-watcher { font-family: "default"; }

/* 320px—648px */
@media only screen and (min-width:20em) and (max-width:40.5em) {
	
	.topElementli {
    	margin: 0px 0px 0px 12px;
	}
    
    /* =================================================================
     * Banner
     * ================================================================= */
    .banner {
        /* margin: 0; */
    /* margin-right: 2px; */
    margin-left: -7px;
    /* padding-right: 4.625em; */
    /* min-width: 100%; */
    width: 91%;
    height: 90px;
    padding: 0px 38px 14px 8px;
    /* background: #ff6f00; */
    background: url(../images/bgd2.jpg) no-repeat center top 16% #ff6d01;
    /* min-height: 100%; */
    /* min-width: 100%; */
    background-size: cover;
    }
	
    .bannerLogo {
    margin: 25px 0px 0px 53px;
    width: 64%;
}
        .banner h1 a {
            display: table-cell;
            line-height: 1;
            height: 1em;
            vertical-align: middle;
        }
    .banner--home {
        padding-right: 0;
    }
        .banner--home h1 a {
            display: block;
            line-height: 2.5;
            height: auto;
        }
	main {
	padding: 148px 2em 0 18px;
	border: 0;
	margin: 0px 0px -95px;
	background: rgba(255, 255, 255);
	}
	
	section {
	padding: 148px 2em 0 18px;
	border: 0;
	margin: 0px 0px -95px;
	background: rgba(255, 255, 255);
	}	
     
    /* =================================================================
     * Navigation
     * ================================================================= */
    /* body:not(:target) is a nifty CSS filter to allow show/hide with CSS 
     * in browsers that support :not() and :target
     * See: http://www.creativebloq.com/css3/build-smart-mobile-navigation-without-hacks-6122800
     */
    body:not(:target) #menu {
        max-width: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        outline: 0;
    }
        body:not(:target) #menu ul {
            background: transparent;
            border: 1px solid transparent;
            border-bottom-width: 0;
            max-width: 12.5em; /* 16 * 12.5 = 200 */
            position: absolute;
            right: 2%;
            top: 3em;
            z-index: 1002;
        }
        body:not(:target) #menu ul a {
            border-bottom-width: 1;
            overflow: hidden;
            height: 0;
            /* Hardware Accelerate for better animation */
               -moz-transform: translate3d(0,0,0);
                -ms-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
               -moz-transition: height .15s;
                -ms-transition: height .15s;
            -webkit-transition: height .15s;
                    transition: height .15s;
        }
        body:not(:target) #menu:target {
            /* Overlay everything */
            bottom: 0;
            height: 100%;
        }
        body:not(:target) #menu:target ul {
            background: #fff;
            background-color: rgba(255, 255, 255, .95);
            border-color: #000;
        }
        body:not(:target) #menu:target ul a {
            border-bottom-width: 1px;
            height: 2em;
            position: relative;
            z-index: 1;
               -moz-transition: height .25s;
                -ms-transition: height .25s;
            -webkit-transition: height .25s;
                    transition: height .25s;
        }
        body:not(:target) #menu-close {
            border: 0;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1001;
        }
     
    /* Drawer Nav */
    .drawer-nav-enabled {
        /* nothing to see here :-) */
    }
        .drawer-nav-enabled body {
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            position: relative;
            left: 0;
               -moz-transition: left .25s ease;
                 -o-transition: left .25s ease;
            -webkit-transition: left .25s ease;
                    transition: left .25s ease;
            /* Hardware acceleration for the animation */
               -moz-transform: translate3d(0,0,0);
                -ms-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
        }
        .drawer-nav-enabled body #menu {
            overflow: auto;
            overflow-x: hidden;
            width: 0;
            max-width: 80%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100%;
            z-index: 3;
               -moz-transition: width .25s ease;
                 -o-transition: width .25s ease;
            -webkit-transition: width .25s ease;
                    transition: width .25s ease;
        }
            .drawer-nav-enabled body #menu ul {
                position: static;
                max-width: 100%;
		margin: 48px 0px 0px 10px;
            }
                .drawer-nav-enabled body #menu ul a {
                    height: auto;
                }
                    .drawer-nav-enabled body #menu ul a:hover,
                    .drawer-nav-enabled body #menu ul a:focus {
                        background-color: #ccc;
                    }
        .drawer-nav-open {
            overflow: hidden;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
            .drawer-nav-open body {
                left: -80%;
                overflow: visible;
            }
                .drawer-nav-open body #menu {
                    overflow: visible;
                    width: 80%;
		    background: #fff;
                }
                .drawer-nav-open body #menu-close {
                    background: black;
                    background: rgba( 0, 0, 0, .5 );
                    left: -100%;
                    width: 100%;
                    box-sizing: border-box;
                }


    /* for getActiveMQ */
    #getActiveMQ-watcher { font-family: "small"; }

}
 
/* >= 648px */
@media only screen and (min-width:40.5em) {
    
    /* =================================================================
     * Banner
     * ================================================================= */
    .banner {
        padding: 1em;
	min-height: 100%;
    }
        .banner h1 {
        margin: 1px 0px 0px 63px;
        line-height: 1.4;
        }
     
    /* =================================================================
     * Navigation
     * ================================================================= */
    #nav-jump {
        right: auto;
        left:  -999em;
    }
        #nav-jump:focus {
            right: 1em;
            left:  auto;
        }
    #menu {
        position: absolute;
        top: 5.5em;
        /* right: 0; */
        left: 5;
        center: inherit;
        /* white-space: nowrap; */
    }
        #menu ul {
            background: transparent;
            border: 0;
            margin-left: 74px;
        }
        #menu li,
        #menu a {
            border: 0;
            /* display: inline-block; */
            margin-left: -1px;
        }
        #menu a {
            margin-top: 4px;
    /* border-radius: 11px 17px 0 0; */
            font-weight: 600;
            color: #290d0354;
            background: rgba(190, 145, 134, 0.17);
            line-height: 2.6em;            
            padding: 0 1em;
            width: 236px;
            font-family: Barlow;
            font-weight: 900;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        #menu mark a {
    	    color: #401203ab;
            background: #bd90856e;
    	    font-weight: 600;
        }
        #menu ul a:hover,
        #menu ul a:focus,
        #menu ul mark a:hover,
        #menu ul mark a:focus {
            background: #ccc;
            font-weight: 600;
    	    color: #58493c;
        }
        #menu ul a:active,
        #menu ul mark a:active {
            background: #ccc;
            font-weight: 600;
            color: #58493c;
        }
    .home #menu {
        position: static;
        text-align: center;
        margin: 1em auto;
        padding: 0;
        white-space: normal;
    }
        .home #menu ul {
            width: auto;
        }
        .home #menu li {
            display: block;
        }
        .home #menu a {
            border-radius: 5px;
            color: #000;
        }
        .home #menu mark a {
            background: #000;
            color: #fff;
        }
        .home #menu ul a:hover,
        .home #menu ul a:focus,
        .home #menu ul mark a:hover,
        .home #menu ul mark a:focus {
            background: #ccc;
            color: #000;
        }
        .home #menu h1.hidden,
        .home #menu ul .hidden {
            position: static !important;
            width: 100%;
            height: auto;
            clip: inherit;
            overflow: visible;
        }
        .home #menu h1 {
            margin-bottom: .5em;
        }
            .home #menu h1::before {
                content: " ";
                display: block;
                height: 0;
                margin: .5em auto 1em;
                width: 50%;
                border-top: 1px solid #ccc;
            }
    .home #menu-close::before {
        color: #000;
        content: "^ Return to the top";
        display: inline-block;
        font-size: .75em;
        margin-top: 1em;
        text-transform:  uppercase;
    }
        .home #menu-close:hover::before,
        .home #menu-close:focus::before {
            color: #333;
        }
    

    /* =================================================================
     * Figures
     * ================================================================= */
    .figure--inline {
        float: right;
        margin-left: 2%;
        margin-top: 0;
    }
        h1 + .figure--inline::before {
            display: none;
        }
     
    /* =================================================================
     * Galleries
     * ================================================================= */
    .gallery__item::after {
        display: none;
    }


    /* for getActiveMQ */
    #getActiveMQ-watcher { font-family: "medium"; }
    
}


/* 648px–960px */
@media only screen and (min-width:40.5em) and (max-width:59.99em) {

    /* =================================================================
     * Galleries
     * ================================================================= */
    .gallery {
        overflow: hidden;
    }
        .gallery__item {
            float: left;
            width: 48%;
            margin-right: 2%;
        }
            .gallery__item:nth-child(odd) {
                clear: both;
            }
            .gallery__item:nth-child(even) {
                float: right;
                margin-right: 0;
            }
    
    /* for getActiveMQ */
    #getActiveMQ-watcher { font-family: "large"; }
    
}


/* >= 960px */
@media only screen and (min-width:60em) {

    /* =================================================================
     * Banner
     * ================================================================= */
    .banner {
        min-height: 100%;
        max-width: 100%;
    }
        .banner h1 {
            font-size: 3em;
            line-height: 1.4;
            /* padding: 0; */
            position: fixed;
            float: left;
            /* left: 50%; */
            /* margin-left: -10em; */
        }
    .banner--home {
        padding-bottom: 3%;
    }
        .banner--home h1 {
            font-size: 8vw; /* if supported, scale with the screen */
            position: static;
            margin-left: 0;
        }
     
    /* =================================================================
     * Navigation
     * ================================================================= */
    #nav-jump:focus {
        right: 50%;
        left:  auto;
        margin-right: -33em;
    }
    #menu {
        /* top: 4em; */
        /* right: 50%; */
        /* margin-right: -30em; */
        /* padding-right: 1em; */
    }
        #menu li {
            margin-left: -1px;
        }
            
    /* =================================================================
     * Figures
     * ================================================================= */
    .figure--inline {
        width: 32%;
    }
     
    /* =================================================================
     * Galleries
     * ================================================================= */
     .gallery {
         overflow: hidden;
     }
        .gallery__item {
            float: left;
            width: 32%;
            margin-right: 2%;
        }
            .gallery__item:nth-child(3n+1) {
                clear: both;
            }
            .gallery__item:nth-child(3n+3) {
                float: right;
                margin-right: 0;
            }
    
    /* for getActiveMQ */
    #getActiveMQ-watcher { font-family: "x-large"; }
    
}

/* Print Styles */
@media print {
    
    /* =================================================================
     * Overall page setup
     * ================================================================= */
    @page { margin: 0.5in; }
	* { background: transparent !important; }
	
	/* =================================================================
     * Readable font size
     * ================================================================= */
    body {
        font-size: 12pt;
    }
    h1 {
        font-size: 36pt;
    }
    section h1 {
        font-size: 24pt;
    }
    
    /* =================================================================
     * Links!
     * ================================================================= */
    a {
        border: 0;
    }
    a::after {
        content: " (" attr(href) ")";
        font-size: 75%;
        font-style: normal;
        font-family: monospace;
        white-space: prewrap;
    }
    a[href^="#"]::after {
        content: "";
    }
    
    /* =================================================================
     * widows & orphans
     * ================================================================= */
    p { widows: 4; orphans: 4; }
	h1, h2, h3, h4, h5, h6, dl, ul, ol { page-break-inside: avoid; }
    
    /* =================================================================
     * Hide from print
     * ================================================================= */
    #banner img,
    #nav-jump,
    #menu {
        display: none;
    }
    
    /* =================================================================
     * Header &  Footer
     * ================================================================= */
    #banner {
        text-align: center;
    }
    #banner a::after {
        content: "";
    }
    
    /* =================================================================
     * Figures
     * ================================================================= */
    .figure--inline {
        float: right;
        margin-left: 2%;
        margin-top: 0;
        max-width: 33%;
        page-break-inside: avoid;
    }
        h1 + .figure--inline::before {
            display: none;
        }
        .figure__source {
            background: white !important;
            color: black;
        }
        .figure__source a {
            color: black;
            border: 0;
        }
        .figure__source a::after {
            content: "";
        }
}
